* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.gameContainer {
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 20px;
}

.header {
  background: pink;
  padding: 30px;
  border-radius: 20px 20px 0 0;
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.icon {
  font-size: 50px;
}

.playerContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 70px;
}

#computer .icon {
  color: red;
  cursor: pointer;
}

#player .icon {
  color: blue;
  cursor: pointer;
}

.resetContainer {
  text-align: center;
}

.resetIcon {
  font-size: 30px;
  cursor: pointer;
}

.resultText {
  font-size: 40px;
  margin: 20px;
}

.resultContainer {
  text-align: center;
}

.selected {
  color: black !important;
}
